dialog {
    background-color: rgb(147 197 253);
    color: rgb(32, 14, 122);
    border-color: transparent;
    overflow: hidden;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 20px 8px #d0d0d0;
    height: 200px;
    width: 400px;
 }