<div class="flex flex-col mb-2 border-yellow-400 border-b-2">
  <div
    id="author"
    class="flex justify-between bg-yellow-400 rounded-t-xl p-1 font-bold"
  >
    <div>{{ author() }}</div>
    <div>{{ date() | date : "MMM d, y" : undefined : undefined }}</div>
  </div>

  <div
    id="title"
    class="border-yellow-400 border-l-2 border-r-2 p-1 italic bg-yellow-50"
  >
    {{ title() }}
  </div>

  <div class="border-yellow-400 border-l-2 border-r-2">
    <hr
      class="border-yellow-400 border-l-2 border-r-2 mx-2 h-px my-2 bg-gray-400 border-0"
    />
  </div>
  
  <div
    matTooltip="გაიგე მეტი"
    matTooltipClass="tooltip-style"
    id="content"
    class="border-yellow-400 border-l-2 border-r-2 p-1 line-clamp-4 text-transparent bg-yellow-50 bg-clip-text bg-gradient-to-b from-slate-700 to-slate-300 hover:text-[#5a5afc]"
  >
    <a
      [routerLink]="[
        '/newsbyid', 
        id(),
        author(),
        title(),
        content(),
        date()
      ]"
      
      [queryParams]="{id: id(), author: author(), title: title(), content: content(), date: date()}"
      queryParamsHandling="merge"

      routerLinkActive="router-link-active"
      >{{ content() }}
    </a>
  </div>

  <div
    class="flex justify-between border-yellow-400 border-l-2 border-r-2 p-4 bg-yellow-50"
  >
    <app-button
      (onClick)="editFunctioncall($event)"
      [label]="editLabel"
    ></app-button>
    <app-button
      (onClick)="deleteFunctioncall($event)"
      [label]="deleteLabel"
    ></app-button>
  </div>
</div>
